<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" type="text/css" >
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <title>HomePage</title>
</head>
<body class="welcomebackground">
    <h1 class="welcometitle"> Welcome </h1>
    
    <nav class="welcomenav">
        <a href="/users/signup">Sign Up</a> 
        <a href="/users/login">Log In</a>
    </nav>
</body>
</html>