<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <link type= "text/css" rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1>Welcome To Your Makeup Bag </h1>
    <nav>
        <a href="/users/signup">New?Sign Up Here!</a> <br> <br> <br>
        <a href="/users/login">Returning? Welcome back! Login Here</a>
    </nav>
</body>
</html>