<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" type="text/css" >
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap" rel="stylesheet"></head>
<body class="welcomebackground">
    <h1 class="welcometitle"> Welcome to Makeup Bag!</h1>

    <div class="welcomemessage">
        With the beauty industry releasing new products seemingly all the time, 
        it can be difficult to remember what you have tried! With your Makeup Bag App 
        you have a record of the products as you continue on seek your 'holy grail' finds.
    </div>
    
    <nav class="welcomenav">
        <a href="/users/signup" class="welcomelinks">Sign Up</a> 
        <a href="/users/login" class="welcomelinks">Log In</a>
    </nav>
</body>
</html>