<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" type="text/css" >
    <title>HomePage</title>
</head>
<body class="welcomebackground">
    <h1 style="font-family: 'Olivia-Regular'" class="welcometitle"> Welcome </h1>
    
    <nav class="welcomenav">
        <a href="/users/signup">Sign Up</a> 
        <br> <br>
        <br> <br>
        <a href="/users/login">Log In</a>
    </nav>
</body>
</html>