<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    </head>
    <body>
        <h2>Product Review!</h2>
       
        <form action="/review" >  <!--method="POST" goal is to push submission to review database attached to userId-->
            Category: <select name="categoryId">
                <% for (let i=0; i<category.length; i++){
                   
                    %>
                        <option value ="<%=category[i].id%>" > <%=category[i].name%></option>
                    <% } %>
        
            </select>
            Product Type: <select name="product_type_Id">
                
            </select>
            Brand Name: <select name="brand_Id">
              
                
                <% for (let i=0; i<brands.length; i++){
                   
                %>
                    <option value ="<%=brands[i].id%>" > <%=brands[i].name%></option>
                <% } %>



            </select>
            Product Name: <input type="text" name="productname" />   
            Price: <input type="integer" name="price" />
            Quality: <input type="integer" name="rating" />
            
            
            <input id="signupsubmitbutton" type="submit" value="SignUp"/>            
        </form>
        <br>


        <br><br>
        <a href="/profile">Return to Profile</a> 

    </body>
</html>


