body {
  background-color: #C4DBE1;
}
.welcomebackground {
    background-image: url('../../img/shutterstock_1055036450.jpg');
    background-size: 125%;
    background-repeat: no-repeat;
}
/*
.welcome .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
}
*/
.welcomemessage {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  line-height: 1em;
  margin-left: 60%;

}

.welcomenav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 75px;
    margin-right: 200px;
    font-family: 'Dancing Script', cursive;
    color: #072940;  
  text-decoration: none;
}    



a:hover {
    color: #ffa500;
    text-decoration: none;
}

h1 {
    margin-top: 0px;
    margin-right: 100px;
    font-size: 150px;
    line-height: 200px;
  /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    color: #fccaff; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
      font-family: 'Dancing Script', cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
    display: flex;
    justify-content: flex-end;
  }
  @-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }
  
  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }

  .signuppage {
    background-image: url('../img/signupbackground.png');
  }
  .signuptitle {
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    color: white;
  }

  .signupfields {
    color: white;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin-left: 5%;
    margin-top: 5%;
  }
  

  #signupsubmitbutton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #97062D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    margin-left: 90px;
  }

  #signupsubmitbutton:hover{
    background-color: #E81F55;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #signupsubmitbutton:active {
    background-color: #97062D ;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #loginbuttonsubmit {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #EC7A8A;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    margin-left: 90px;
  }


  #loginbuttonsubmit:active {
    background-color: rgb(192, 97, 110);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #loginbuttonsubmit:hover {
    background-color: #FEBBC4;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  .loginbackground {
    background-image: url('../img/loginbackground.jpg');
  }

  h2 {
    margin-top: 0px;
    margin-right: 100px;
    font-size: 150px;
    line-height: 200px;
  /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    color: #fccaff; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
      font-family: 'Dancing Script', cursive;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
    margin-left: 5%;

  }
  @-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }
  
  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }
  .loginfields {
    color: #EC7A8A;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin-left: 5%;
  }

 .profilebackground {
   background-image: url('../img/profilebackground.jpg');
 } 

 #profiletitle {
  font-size: 75px;
 }